.logo{
    background-color: #d4c1ec;
    margin: 0;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

.user-and-logout{
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #d4c1ec;
}

.username{
    margin: 0;
}