.no-login-home-container{

/*     background-image: url(../art.jpg);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-color: turquoise;
    height: 80vh; */
}

.username{
    
}